@charset "UTF-8";
/*
color(颜色函数)
SCSS 包含很多操作颜色的函数。例如：lighten() 与 darken()函数可用于调亮或调暗颜色
opacify()函数使颜色透明度减少，transparentize()函数使颜色透明度增加，mix()函数可用来混合两种颜色。
*/
.container {
  background-color: #ff6700;
  background-color: #ff8533;
  background-color: #cc5200;
  background-color: #ff6700;
  background-color: #f2690d;
  background-color: #ff6700;
  background-color: rgba(255, 103, 0, 0.5);
  background-color: #ffb380;
}

/*
 math函数
 数值函数处理数值计算，例如：percentage()将无单元的数值转换为百分比，round()将数字四舍五入为最接近的整数，
 min()和max()获取几个数字中的最小值或最大值，random()返回一个随机数。
*/
/*
$number: -10;
.container {
    z-index: abs($number);
    // 将无单元的数值转换为百分比
    width: percentage(0.5);
    // 将数字四舍五入为最接近的整数
    width: round(0.5);
    // 获取几个数字中的最小值或最大值
    width: min(10px, 20px, 30px);
    // 返回一个随机数
    width: random(100);
}
*/
/*
Map函数
Map函数操作Map，map-get() 根据键值获取map中的对应值，map-merge() 来将两个map合并成一个新的map，map-values() 映射中的所有值
*/
/*
$font-sizes: (
    small: 12px,
    medium: 16px,
    large: 20px
);
.container {
    // 获取map中的单个值
    font-size: map-get($font-sizes, "small");
    // 获取map中的所有值
    font-size: map-values($font-sizes) + "";
    // map-has-key() 检查map中是否存在某个键
    @if map-has-key($font-sizes, "medium") {
        font-size: map-get($font-sizes, "medium");
    }
}
*/